<label class="doc-cmp-input-overview-simple-surface">
  <span class="doc-cmp-input-overview-simple-label">Email</span>
  <tng-input
    class="doc-cmp-input-overview-simple-host--plain"
    type="email"
    placeholder="team@tailng.dev"
    ariaLabel="Email"
  ></tng-input>
</label>
<label class="doc-cmp-input-style-scenario-plain-field">
  <span class="doc-cmp-input-style-scenario-plain-caption">Display name</span>
  <tng-input
    class="doc-cmp-input-style-scenario-plain-host"
    type="text"
    value="Ada Lovelace"
    ariaLabel="Display name"
  ></tng-input>
</label>
<div class="doc-cmp-input-ex-basic-preview">
  <tng-input
    class="doc-cmp-input-ex-basic-host"
    type="text"
    placeholder="Project name"
    ariaLabel="Project name"
  ></tng-input>
</div>
<div class="doc-cmp-input-ex-types-preview doc-cmp-input-ex-types-grid">
  <tng-input class="doc-cmp-input-ex-types-host" type="email" placeholder="team@tailng.dev" ariaLabel="Email"></tng-input>
  <tng-input class="doc-cmp-input-ex-types-host" type="search" placeholder="Search docs" ariaLabel="Search"></tng-input>
  <tng-input class="doc-cmp-input-ex-types-host" type="number" placeholder="42" ariaLabel="Number"></tng-input>
</div>
<div class="doc-cmp-input-ex-states-preview doc-cmp-input-ex-states-stack">
  <tng-input class="doc-cmp-input-ex-states-host" type="text" value="Readonly API key" readonly></tng-input>
  <tng-input class="doc-cmp-input-ex-states-host" type="text" value="Disabled while syncing" disabled></tng-input>
</div>
