/* Wrapper tooltip */
.tooltip-shell {
  border: 1px solid var(--tng-semantic-border-subtle);
  border-radius: 0.95rem;
  padding: 1rem;
}
/* Wrapper archive tooltip */
.tooltip-example-shell {
  border: 1px solid var(--tng-semantic-border-subtle);
  border-radius: 0.95rem;
  padding: 1rem;
}
