<section class="doc-cmp-datepicker-shell">
  <header class="doc-cmp-datepicker-shell__header">
    <p class="doc-cmp-datepicker-shell__eyebrow">Date input</p>
    <h3 class="doc-cmp-datepicker-shell__title">Datepicker</h3>
    <p class="doc-cmp-datepicker-shell__copy">
      Native date selection rendered with the Tailng input wrapper.
    </p>
  </header>

  <label class="doc-cmp-datepicker-shell__field">
    <span class="doc-cmp-datepicker-shell__label">Start date</span>
    <tng-input
      class="doc-cmp-datepicker-shell__control"
      type="date"
      ariaLabel="Start date"
    ></tng-input>
  </label>

  <label class="doc-cmp-datepicker-shell__field">
    <span class="doc-cmp-datepicker-shell__label">End date</span>
    <tng-input
      class="doc-cmp-datepicker-shell__control"
      type="date"
      ariaLabel="End date"
    ></tng-input>
  </label>
</section>
