<div class="menu-trigger-shell">
  <button type="button" [tngMenuTriggerFor]="menuOverviewPlainMenu" class="menu-trigger">Options</button>
  <tng-menu
    #menuOverviewPlainMenu="tngMenu"
    ariaLabel="Options menu"
    class="menu-panel"
    (tngMenuSelect)="onMenuOverviewPlainSelect($event)"
  >
    <div tngMenuGroupLabel class="menu-group-label">Options</div>
    <button type="button" tngMenuItem tngMenuItemValue="Pin item">Pin</button>
    <button type="button" tngMenuItem tngMenuItemValue="Mute notifications">Mute</button>
    <button type="button" tngMenuItem tngMenuItemValue="Remove item">Remove</button>
</tng-menu>
</div>
<p class="menu-overview-state">last command: {{ menuOverviewPlainLastCommand() }}</p>

<br/>

<div class="menu-example-trigger-shell">
  <button type="button" [tngMenuTriggerFor]="menuExamplesPlainMenu" class="menu-example-trigger">
    Options
  </button>
  <tng-menu
    #menuExamplesPlainMenu="tngMenu"
    ariaLabel="Options menu"
    class="menu-example-panel"
    (tngMenuSelect)="onMenuExamplesPlainSelect($event)"
  >
    <div tngMenuGroupLabel class="menu-example-group-label">Options</div>
    <button type="button" tngMenuItem tngMenuItemValue="Pin item">Pin</button>
    <button type="button" tngMenuItem tngMenuItemValue="Mute notifications">Mute</button>
    <button type="button" tngMenuItem tngMenuItemValue="Remove item">Remove</button>
  </tng-menu>
</div>
<p class="menu-example-state">last command: {{ menuExamplesPlainLastCommand() }}</p>

<br/>
