<!-- Overview plain -->
<tng-menubar ariaLabel="Workspace commands">
  <div tngMenubarGroup>
    <tng-menu #menubarOverviewPlainFileMenu="tngMenu" ariaLabel="File menu" (tngMenuSelect)="onMenubarOverviewPlainCommandSelect($event)">
      <button type="button" tngMenuItem tngMenuItemValue="Create document">New</button>
      <button type="button" tngMenuItem [tngMenuItemSubmenu]="menubarOverviewPlainImportMenu" tngMenuItemValue="Import from source">Import from...</button>
      <button type="button" tngMenuItem tngMenuItemValue="Open document">Open</button>

      <tng-menu #menubarOverviewPlainImportMenu="tngMenu" ariaLabel="Import submenu" (tngMenuSelect)="onMenubarOverviewPlainCommandSelect($event)">
        <button type="button" tngMenuItem tngMenuItemValue="Import from CSV">CSV file</button>
        <button type="button" tngMenuItem tngMenuItemValue="Import from Git">Git repository</button>
      </tng-menu>
    </tng-menu>
    <button type="button" tngMenubarItem [tngMenubarMenu]="menubarOverviewPlainFileMenu">File</button>
  </div>
  <div tngMenubarGroup>
    <tng-menu #menubarOverviewPlainViewMenu="tngMenu" ariaLabel="View menu" (tngMenuSelect)="onMenubarOverviewPlainCommandSelect($event)">
      <button type="button" tngMenuItem tngMenuItemValue="Toggle sidebar">Toggle sidebar</button>
      <button type="button" tngMenuItem tngMenuItemValue="Open command palette">Command palette</button>
    </tng-menu>
    <button type="button" tngMenubarItem [tngMenubarMenu]="menubarOverviewPlainViewMenu">View</button>
  </div>
  <button type="button" tngMenubarItem (click)="onMenubarOverviewPlainLeafSelect('Help')">Help</button>
</tng-menubar>
<br/>
<br/>
<!-- Examples workspace plain -->
<tng-menubar ariaLabel="Wrapper workspace commands">
  <div tngMenubarGroup>
    <tng-menu
      #workspacePlainFileMenu="tngMenu"
      ariaLabel="File menu"
      (tngMenuSelect)="onMenubarExamplesWorkspacePlainMenuSelect($event)"
    >
      <div tngMenuGroupLabel>File</div>
      <button type="button" tngMenuItem tngMenuItemValue="Create release">New release</button>
      <button type="button" tngMenuItem tngMenuItemValue="Publish release">Publish</button>
    </tng-menu>
    <button type="button" tngMenubarItem [tngMenubarMenu]="workspacePlainFileMenu">File</button>
  </div>
  <div tngMenubarGroup>
    <tng-menu
      #workspacePlainViewMenu="tngMenu"
      ariaLabel="View menu"
      (tngMenuSelect)="onMenubarExamplesWorkspacePlainMenuSelect($event)"
    >
      <button type="button" tngMenuItem tngMenuItemValue="Toggle sidebar">Toggle sidebar</button>
      <button type="button" tngMenuItem tngMenuItemValue="Open command palette">Command palette</button>
    </tng-menu>
    <button type="button" tngMenubarItem [tngMenubarMenu]="workspacePlainViewMenu">View</button>
  </div>
  <button type="button" tngMenubarItem>Help</button>
</tng-menubar>
<p>last command: {{ menubarExamplesWorkspacePlainLastCommand() }}</p>
<br/>
<br/>
<!-- Examples cascade plain -->
<tng-menubar ariaLabel="Cascaded command bar">
  <div tngMenubarGroup>
    <tng-menu
      #cascadePlainFileMenu="tngMenu"
      ariaLabel="File menu"
      (tngMenuSelect)="onMenubarExamplesCascadePlainMenuSelect($event)"
    >
      <div tngMenuGroupLabel>File</div>
      <button type="button" tngMenuItem tngMenuItemValue="Create project">Create project</button>
      <button
        type="button"
        tngMenuItem
        [tngMenuItemSubmenu]="cascadePlainImportMenu"
        tngMenuItemValue="Import from source"
      >
        Import from...
      </button>
      <div tngMenuSeparator></div>
      <button type="button" tngMenuItem tngMenuItemValue="Archive project">Archive project</button>
      <tng-menu
        #cascadePlainImportMenu="tngMenu"
        ariaLabel="Import submenu"
        (tngMenuSelect)="onMenubarExamplesCascadePlainMenuSelect($event)"
      >
        <button type="button" tngMenuItem tngMenuItemValue="Import from CSV">CSV file</button>
        <button
          type="button"
          tngMenuItem
          [tngMenuItemSubmenu]="cascadePlainGitMenu"
          tngMenuItemValue="Import from git"
        >
          Git repository
        </button>
      </tng-menu>
      <tng-menu
        #cascadePlainGitMenu="tngMenu"
        ariaLabel="Git provider submenu"
        (tngMenuSelect)="onMenubarExamplesCascadePlainMenuSelect($event)"
      >
        <button type="button" tngMenuItem tngMenuItemValue="Import from GitHub">GitHub</button>
        <button type="button" tngMenuItem tngMenuItemValue="Import from GitLab">GitLab</button>
      </tng-menu>
    </tng-menu>
    <button type="button" tngMenubarItem [tngMenubarMenu]="cascadePlainFileMenu">File</button>
  </div>
  <div tngMenubarGroup>
    <tng-menu
      #cascadePlainToolsMenu="tngMenu"
      ariaLabel="Tools menu"
      (tngMenuSelect)="onMenubarExamplesCascadePlainMenuSelect($event)"
    >
      <button type="button" tngMenuItem tngMenuItemValue="Run lint">Run lint</button>
      <button type="button" tngMenuItem tngMenuItemValue="Run tests">Run tests</button>
    </tng-menu>
    <button type="button" tngMenubarItem [tngMenubarMenu]="cascadePlainToolsMenu">Tools</button>
  </div>
</tng-menubar>
<p>last cascaded command: {{ menubarExamplesCascadePlainLastCommand() }}</p>