<section class="docs-autocomplete-overview-example">
  <div class="docs-autocomplete-overview-example__header">
    <span class="docs-autocomplete-overview-example__eyebrow">Country directory</span>
    <p class="docs-autocomplete-overview-example__copy">
      Wrapper-first autocomplete for standard country search.
    </p>
  </div>

  <div class="docs-autocomplete-overview-example__control">
    <tng-autocomplete
      [options]="countries"
      [value]="selectedCountry()"
      (valueChange)="onSelectedCountryChange($event)"
      [getOptionValue]="getCountryValue"
      [getOptionLabel]="getCountryLabel"
      placeholder="Type Ind to filter"
      [ariaLabel]="'Country directory'"
    ></tng-autocomplete>
  </div>

  <p class="docs-autocomplete-overview-example__summary">
    Selected: {{ selectedLabel() }}
  </p>
</section>


<br/>

<section class="docs-autocomplete-styling-example">
  <div class="docs-autocomplete-styling-example__header">
    <span class="docs-autocomplete-styling-example__eyebrow">Release owner</span>
    <p class="docs-autocomplete-styling-example__copy">
      Host-level token overrides restyle the wrapper without reaching into private child selectors.
    </p>
  </div>

  <div class="docs-autocomplete-styling-example__control">
    <tng-autocomplete
      [options]="releaseOwners"
      [value]="selectedOwner()"
      (valueChange)="onSelectedOwnerChange($event)"
      [getOptionValue]="getOwnerValue"
      [getOptionLabel]="getOwnerLabel"
      [isOptionDisabled]="isOwnerDisabled"
      placeholder="Assign a release owner"
      [ariaLabel]="'Release owner'"
    ></tng-autocomplete>
  </div>

  <p class="docs-autocomplete-styling-example__summary">
    Selected: {{ selectedSummary() }}
  </p>
</section>
